.rounded-nav .nav-link {
    border-radius: 12px !important;
    background-color: #fafafa !important;
    color: #103250 !important;
    font-family: 'SF Pro Rounded Semibold', sans-serif;
    font-size: 17.5px;
}

.rounded-nav .nav-link.active {
    background-color: #f2ffef !important;
    color: #27c250 !important;
}

.btn-purple {
    background-color: #ef27f7;
    color: #e5e5e5;
}

/* .span-text {
  color: #ef27f7
} */

.card.card-border {
    border-left: 1px solid #D8D6D6 !important;
    padding-left: 30px;
}

.small-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.icon-button {
    font-size: 30px
}

.w-600 {
    max-width: 600px;
    font: normal normal 600 22px/26px;
}

.w-350 {
    width: 350px;
}

.overflow-x {
    overflow-x: scroll;
    box-sizing: content-box;
    /* white-space: nowrap; */
}

.webkit-box {
    display: -webkit-box!important;
}

.overflow-y {
    /* max-height: 600px; */
    overflow-y: scroll;
}

.task-fullname {
    letter-spacing: 0.65px;
    color: #001737;
    text-transform: capitalize;
    font-family: 'SF Pro Rounded Semibold', sans-serif;
    font-size: 15px;
    margin-bottom: 0px;
}

.no-uppercase {
    text-transform: none !important;
}

.task-username {
    letter-spacing: 1.13px;
    color: #232F3B40;
    text-transform: uppercase;
    font-family: 'SF Pro Rounded Bold', sans-serif;
    font-size: 15px;
}

.task-date {
    letter-spacing: 1.43px;
    color: #CBCBCB;
    text-transform: uppercase;
    opacity: 1;
    font-size: 19px;
    font-family: 'SF Pro Rounded Semibold', sans-serif;
    margin-bottom: 0px;
    margin-top: 1vh;
}

.task-answer {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.overlay-img {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
}

.overlay-img .roster-img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.roster-title {
    font-family: "SF Pro Rounded Medium";
    letter-spacing: 0px;
    color: #103250;
    text-align: left;
}

.roster-caption {
    font-family: "SF Pro Rounded Medium";
    color: #103250;
    text-align: left;
    width: 100%;
    font-size: 20px;
}

.title-card {
    padding: 30px 40px !important;
    border-radius: 35px !important;
    box-shadow: 0px 3px 10px #0000000D;
    max-width: 500px;
    width: 80vw;
    list-style: none;
    margin: 13px 0px;
}

.title-card .bucket-title {
    color: #103250;
    font-family: 'SF Pro Rounded Heavy', sans-serif;
    text-align: left;
    font-size: 30px;
    margin-bottom: 0px !important;
}

.tab-width {
    max-width: 250px;
    width: 25vw!important;
}

.roster-avatar img {
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.roster-fullname {
    font-size: 15x;
    color: #ff4076;
    font-family: 'SF Pro Rounded Bold', sans-serif;
}

@media(max-width:768px) {
    .tab-width {
        max-width: 150px;
        width: 35vw!important;
        font-size: 14px!important;
    }
    .rounded-nav .nav-link {
        width: max-content;
        padding: 10px 15px !important;
    }
    .overlay-img {
        width: 350px;
        height: 350px;
    }
    .roster-title {
        font-size: 22px;
    }
    .res-padding {
        padding: 0px 10px !important;
    }
    .task-username {
        font-size: 11px;
    }
    .task-date {
        font-family: 'SF Pro Rounded Bold', sans-serif;
        font-size: 14px;
    }
    .roster-caption {
        font-size: 20px;
        font-weight: 400;
        width: 80%;
        padding-top: 15px !important;
    }
    .title-card {
        max-width: 500px;
        width: 80vw;
        padding: 25px !important;
        margin: 9px 0px;
        border-radius: 15px !important;
        box-shadow: 0px 4px 20px #00000017;
    }
    .title-card .bucket-title {
        font-size: 22px;
        margin-bottom: 0px;
    }
    .card.card-border {
        border-top: 1px solid #DFE5E5 !important;
        border-left: 0px!important;
    }
    .small-avatar img {
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
}